body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 500px;
    margin: 60px auto;
    padding: 0 50px;
}

h1, h2 {
    text-align: center;
}

#subtitulo {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

fieldset {
    border: 2px solid black;
    border-radius: 4px;
    padding: 25px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
}

div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input, textarea {
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
}

#logout {
    position: absolute;
    top: 10px;
    right: 20px;

    width: auto;
    padding: 8px 16px;
}

button:hover {
    background-color: black;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: palegreen;
}

#cadastro, main > div:last-child {
    text-align: center;
    margin-top: 20px;
}

footer {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
footer a {
    color: black;
    margin-left: 5px;
}

footer p {
    margin: 2px;
    text-align: center;
}

