<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - To Do list</title>
</head>
<body>
    <main>
        <header>
            <h1>Minhas Tarefas</h1>
            <p>Organize suas atividades e acompanhe sua rotina.</p> 
            <button type="button" id="logout">Sair</button>
        </header>

        <section>
            <fieldset> 
                <legend><strong>Crie uma nova tarefa</strong></legend>
                <form id="task-form">
                    <div>
                        <label><strong>Titulo da tarefa:</strong></label>
                        <input type="text" name="title" id="title" maxlength="50" required>
                    </div>
                    <div>
                        <label for="description">Descrição:</label>
                        <textarea name="description" id="description" maxlength="500" required></textarea>
                    </div>
                    <button type="submit">Adicionar tarefa</button>

            </form>
            </fieldset>
            
        </section>
        <section>
            <fieldset> 
                <legend><strong>Minhas Tarefas</strong></legend>
                <form id="tasks-list">
                    <div>
                        <p>nenhuma tarefa carregada ainda.</p>
                    </div>
                        
        </section>




    </main>


    
</body>
</html>