    <!doctype html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Page</title>
    </head>
    <body>
        <main>
            <div>
                <h1 id="titulo">To Do List</h1>
                <p id="subtitulo"><strong>Planeje, escale e construa sua rotina</strong></p>
            </div>
            <form action="/login" method="POST">
                
                <fieldset class="login">
                    <legend>Entre e planeje sua rotina</legend>
                    <div class="enter">
                        <label for="email"><strong>E-mail</strong></label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div>
                        <label for="password"><strong>Senha</strong></label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <button type="submit">Entrar</button>
                </fieldset>
            </form>
                <div>
                    <p id="cadastro">Ainda não tem conta ? <a href="/register" >Cadastre-se</a></p>
                </div>
        </main>
        
        <footer>
                <p>Produzido por: <a href="https://www.linkedin.com/in/brunovieirasantos/" target="_blank"> Bruno Santos</a></p>
        </footer>
        


    </body>
    </html>