<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <div>
        <h1 id="titulo">To Do List</h1>
        <p id="subtitulo"><strong>Planeje, escale e construa sua rotina</strong></p>
    </div>
    <form>
        <fildset class="login"></fildset>
            <div class="enter">
                <label><strong>E-mail</strong></label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label><strong>Senha</strong></label>
                <input type="password" name="senha" id="senha" required>
            </div>
    </form>


</body>
</html>