<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <div>
            <h1 id="titulo">Faça o seu cadastro de Usuário</h1>
                  
        </div>
        <form action="/user" method="POST">
            <fieldset class="registro">
                <legend>Preencha as informações para criar seu usuário:</legend>
                <div class="registro">
                    <label for="name"><strong>Digite nome de usuário:</strong></label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div>
                    <label for="email"><strong>E-mail:</strong></label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div>
                    <label for="password"><strong>Senha:</strong></label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div>
                    <label for="confirm_password"><strong>Confirme sua senha:</strong></label>
                    <input type="confirm_password" name="confirm_password" id="confirm_password" required>
                </div>
                <button type="submit">Confirme seu cadastro</button> <button type="reset">Limpar campos</button>          
            </fieldset>
        </form>
        <div >
            <p>Já tem conta? <a href="/"><strong>Entrar</strong></a></p>
        </div>



    </main>






    
</body>
</html>